GOOGLE_MAPS_API_KEY=Tu_API_Key_de_Google_Maps
FIREBASE_CREDENTIALS_PATH=/ruta/a/tu/serviceAccountKey.json
ALLOWED_CLIENT_IPS=127.0.0.1,::1,Tu_IP_Publica  # Requisito de restricción de IP
GA_POPULATION=100
GA_GENERATIONS=200
GA_MUTATION_RATE=0.1